.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: #212024;
  padding: 0 50px;
}

.header-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #F0F3F7;
}

.header-container .links-container {

}

.header-container .links-container a {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #B1B2B3;
  text-decoration: none;
}
